body{
    margin: 0;
    padding: 0;
    font-family: Alegreya Sans;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.body{
    width: 100%;
}
.mobile-sidebar{
    display: none;
}
.sidebar{
    position: fixed;
    left:0;
    width: 20%;
    height: 100%;
    border-right: solid 1px black;
    background-color: #05668D;
}
.sidebar-icon{
    display: none;
}

.info-sidebar{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}
.info-sidebar img{
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
    border: solid 1px black;
}
.info-sidebar p{
    margin: 10px 0 0 0;
    color: white;
}
header{
  position: relative;
  height: 700px;
}

.background-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  filter: blur(1px);
}
.blur{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,.8);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color .2s;
    z-index: 5;
}
nav ul{
    list-style: none;
    margin: 0;
    float: right;
    margin: 10px 0;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    transition: font-size .2s;
    outline: none;
}
.header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info{
  text-align: center;
  color: white;
  padding: 0 90px;
  position: relative;
  height: 70%;
}
.info h1{
  font-size: 60px;
  cursor: default;
}
.info span{
  font-size: 30px;
  margin: 0;
  cursor: default;
  font-family:  Alegreya Sans;
}
.typed-cursor{
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.buttons{
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    margin: 0 auto;
    width: 550px;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    width: 40%;
    color: white;
    text-decoration: none;
    background-color:  #05668D;
    border-radius: 40px;
    font-size: 32px;
    transition: background-color .1s;
    outline: none;
}
.buttons a:hover{
  background-color:  #0c5978;
}
.about-me{
    width: auto;
    padding: 60px;
}
.about-me ul{
    list-style-type: circle;
}
.about-me p{
    font-size: 20px;
}
.about-me .container1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
    position: relative;
}
.container1 .left{
    display: flex;
    align-items: center;
    width: 80%;

}
.container1 .left p{
  font-size: 25px;
}
.container1 .right{
    display: flex;
    align-items: center;

}
 .container2{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 100px;
}
.container2 .left{
    display: flex;
    align-items: center;

}
.container2 .right{
    display: flex;
    align-items: center;
    margin-left: 200px;

}
.container2 .right p{
  font-size: 22px;
}
.about-me img{
  width: 100%;
}
.tech{
  padding: 20px 60px 200px 60px;

}
.tech p{
  margin: 60px 0;
  text-align: center;
  font-size: 45px;
}

.technologies{
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
}
.technologies img{
  width: 200px;
}
.tech-to-projects{
  height: 50px;
  background-color: black;
  transform: skew(0deg, 2deg);
}
.projects{
  position: relative;
  background-color: rgba(5, 102, 141);
  color: black;
  padding: 0 60px;
}
.projects:before{/*Important stuff right here. This is how I managed to create a skewed container. This is the top part of it*/
  content:'';
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 100%;
  background-color:  rgba(5, 102, 141);
  transform: skewY(6deg);
  z-index: -1;
}
.projects:after{/*This is the bottom part */
  content:'';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color:  rgba(5, 102, 141);
  transform: skewY(6deg);
  z-index: -1;
}
.projects h1{
    color: white;
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  white;
    width: 33%;
    height: auto;
    margin-right: 40px;
    padding: 10px;
    box-shadow: 0 10px 10px 5px rgb(0,0,0,.3);
    border-radius: 10px;
}
.title{
    position: absolute;
    top: 5px;
    font-size: 30px;
    margin: 0;
}
.origami img{
    width: 50%;
}
.origami p{
    cursor: default;
}

.booked img{
    width: 50%;
}
.booked p{
    cursor: default;
}
.entenda-mais{
   margin-right: 0;
}
.entenda-mais img{
    margin-top: 50px;
    width: 40%;
}
.entenda-mais p{
    cursor: default;
}
.contact {
    padding: 100px 60px 20px 60px;
}
.contact h1{
    font-size: 32px;
}
.contact .email{
    text-align: center;
    font-size: 50px;
}
footer{
    position: relative;
    width: 100%;
    background-color:rgb(14, 13, 13);
    height: auto;
    text-align: center;
}
.links{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.links img{
    width: 50px;
    margin-right: 20px;
}
.links a{
  outline: none;
}
footer p{
    margin: 0;
    color: rgb(231, 229, 229);
}

@media (max-width:900px){
  .body{
     width: 100%;
  }
  .mobile-sidebar{
     display: none;
     position:fixed;
     top: 0;
     right: 0;
     background-color: #05668D;
     width: 100%;
     height: 100%;
     z-index: 1;
     padding: 0;
  }
  .mobile-sidebar .photo{
     width: 150px;
  }
  .mobile-sidebar p{
     font-size: 20px;
  }
  .mobile-sidebar ul{
     margin: 30px auto;
     width: 70%;
     background-color: white;
     padding: 0;
     border-radius: 5px;
  }
  .mobile-sidebar ul li{
     list-style-type: none;
     border-bottom: solid 1px black;
     text-align: center;
     padding: 5px 0;
  }
  .mobile-sidebar ul li a{
     color: black;
     text-decoration: none;
     font-size: 30px;
  }
  .close{
     font-size: 90px;
     position: absolute;
     top: -20px;
     right: 5px;
     color: black;
     padding: 0;
  }
  .sidebar{
     display: none;
  }
  .sidebar-icon{
      display: block;
      width: 40px;
      position: absolute;
      top: 10px;
      right:10px;
  }
  header{
    height: 500px;
  }
  nav{
     display: none;
  }
  .info{
   height: 60%;
   padding: 0;
  }
  .info h1{
  margin: 0 ;
  padding: 0;
  font-size: 25px;
  }
  .info span{
  font-size: 20px;
  }
  .buttons{
    bottom: -20px;
    width: 100px;
  }
  .buttons a{
    font-size: 25px;
  }
  .about-me img{
  width: 300px;
  }
  .about-me{
  padding: 10px;
  }
  .about-me .container1{
  display: block;
  }
  .about-me .container1 .left{
  width: 100%;
  }
  .about-me .container1 .right{
    align-items: center;
    justify-content: center;
  }
  .about-me .container2{
  display: block;
  }
  .about-me .container2 .right{
  margin: 0;
  }
  .about-me .container2 .left{
    align-items: center;
    justify-content: center;
  }
  .tech{
  padding: 0px 10px 200px 10px;
  }
  .tech p{
  margin: 60px 0;
  text-align: center;
  font-size: 30px;
  }
  .technologies{
  grid-template-columns: auto auto;
  }
  .projects{
    padding-bottom: 20px;
  }
  .projects .box{
    display: block;
    padding: 0;
  }
  .projects .box .item{
    margin: 0 auto;
    width: 250px;
    margin-bottom: 80px;
    box-shadow: none;
  }
  .booked img{
    margin-top: 30px;
  }
  .content .email{
   font-size: 25px;
  }
  .links{
  justify-content: center;
  }
}

@media (max-width:500px){
  .technologies{
    grid-template-columns: auto;
  }
}
