html {
  scroll-behavior: smooth
}
body{
    margin: 0;
    padding: 0;
    font-family: Alegreya Sans;
    overflow-x: hidden;
}
.body{
    width: 100%;
}
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.92);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-content{
  position: relative;
  width: 70%;
  height: 80%;
  background-color: white;
  border-radius: 5px;

}
.video{
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
.video video{
  z-index: 12;
}
.modal-info{
  position: absolute;
  padding: 0 0 0 150px;
  top: 0px;
  left: 40%;
  background-color: rgba(77, 215, 240, 0.1);
  width: 44%;
  height: 100%;
}
.mobile-sidebar{
    display: none;
}
.sidebar{
    position: fixed;
    left:0;
    width: 20%;
    height: 100%;
    border-right: solid 1px black;
    background-color: #05668D;
}
.sidebar-icon{
    display: none;
}

.info-sidebar{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}
.info-sidebar img{
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
    border: solid 1px black;
}
.info-sidebar p{
    margin: 10px 0 0 0;
    color: white;
}
header{
  position: relative;
  height: 100vh;
}
.header{
    background-image: url('../images/background3.png');
    background-size: cover;
    background-position: center;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color .2s;
    z-index: 5;
}
nav ul{
    list-style: none;
    margin: 0;
    float: right;
    margin: 10px 0;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    transition: font-size .2s;
    outline: none;
}
.header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info{
  text-align: center;
  color: white;
  padding: 0 90px;
  position: relative;
  height: 70%;
}
.info h1{
  font-size: 60px;
  cursor: default;
  font-family: Ubuntu;
}
.info span{
  font-size: 30px;
  margin: 0;
  cursor: default;
  font-family:  Ubuntu;
}
.typed-cursor{
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.buttons{
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin: 0 auto;
    width: 550px;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    width: 40%;
    color: white;
    text-decoration: none;
    background-color:  rgba(0,0,0,.3);
    border: 1px solid white;
    border-radius: 40px;
    font-size: 32px;
    transition: background-color .1s;
    outline: none;
}
.buttons a:hover{
  background-color:  rgba(55, 55, 55, .3);
}
.tech{
  padding: 20px 60px 150px 60px;
}
.tech p{
  margin: 60px 0;
  font-size: 35px;
}

.technologies{
  margin: 0 auto;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns:auto auto auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}
.technologies img{
  width: 180px;
}
.tech-to-projects{
  height: 50px;
  background-color: black;
  transform: skew(0deg, 2deg);
}
.projects{
  position: relative;
  background-color: rgba(0, 123, 0);
  color: black;
  padding: 0 60px;
}
.projects:before{/*Important stuff right here. This is how I managed to create a skewed container. This is the top part of it*/
  content:'';
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 123, 0);
  transform: skewY(6deg);
  z-index: -1;
}
.projects:after{/*This is the bottom part */
  content:'';
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color:  rgba(0,123, 0);
  transform: skewY(6deg);
  z-index: -1;
}
.projects h1{
    color: white;
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  white;
    width: 25%;
    height: auto;
    margin-right: 40px;
    padding: 10px;
    box-shadow: 0 10px 10px 5px rgb(0,0,0,.3);
    border-radius: 10px;
}
.title{
    position: absolute;
    top: -2px;
    font-size: 30px;
    margin: 0;
}
.origami img{
    width: 50%;
}
.origami p{
    cursor: default;
}

.booked img{
    width: 50%;
}
.booked p{
    cursor: default;
}
.entenda-mais{
   margin-right: 0;
}
.entenda-mais img{
    margin-top: 50px;
    width: 40%;
}
.entenda-mais p{
    cursor: default;
}
.contact {
  position: relative;
  height: 350px;
  padding: 100px 60px 20px 60px;
}
.contact h1{
  font-size: 32px;
}
.contact p{
  font-size: 30px;
}
.email{
  width: 100px;
  margin: 0 auto;

}
.email img{
  width: 100%;
}

footer{
    position: relative;
    width: 100%;
    background-color:rgb(14, 13, 13);
    height: auto;
    text-align: center;
}
.links{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.links img{
    width: 45px;
    margin-right: 20px;
}
.links a{
  outline: none;
}
footer p{
    margin: 0;
    color: rgb(231, 229, 229);
}

@media (max-width:900px){
  .body{
     width: 100%;
  }
  header{
    height: 500px;
  }
  .header{
    background-size: cover;
  }
  nav{
     display: none;
  }
  .info{
   height: 60%;
   padding: 0;
  }
  .info h1{
  margin: 0 ;
  padding: 0;
  font-size: 35px;
  }
  .info span{
  font-size: 20px;
  }
  .buttons{
    bottom: -20px;
    width: 70%;
  }
  .buttons a{
    width: 100%;
    font-size: 25px;
  }
  .tech{
  padding: 0px 10px 50px 10px;
  }
  .tech p{
  margin-top: 40px
  font-size: 30px;
  }
  .technologies{
  grid-template-columns: auto auto auto;
  }
  .technologies img{
    margin: 20px 0;
  }
  .projects:before{/*Important stuff right here. This is how I managed to create a skewed container. This is the top part of it*/
    top: -50px;
  }
  .projects:after{/*This is the bottom part */
    top: 50px;
  }
  .projects{
    padding-bottom: 20px;
  }
  .projects h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
  }
  .projects .box{
    display: block;
    padding: 0;
  }
  .projects .box .item{
    margin: 0 auto;
    width: 250px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
  .booked img{
    margin-top: 30px;
  }
  .contact{
    padding: 50px 60px 20px 60px;
  }
  .links{
  justify-content: center;
  }
}

@media (max-width:675px){
  .buttons{
    bottom: -20px;
    width: 70%;
  }
  .buttons a{
    width: 100%;
    font-size: 25px;
  }
  .technologies{
    display: block;
    text-align: center;
    width: 100%
  }
  .technologies img{
    width: 90px;
    margin: 40px 10px;
  }
  .tech p{
    font-size: 20px;
  }
  .item{
    width: 200px !important;

  }
}
