body{
  margin: 0;
  font-family: Cormorant;
}
.back, a{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  cursor: pointer;
  outline: none;
}
.progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: #2d3047;
}
.content{
  width: 60%;
  margin: 50px auto;
}
.content h1{
  text-align:center;
}
.content p {
  font-size: 22px;
}
